.range_root_container {
  margin-top: 20px;
  margin-inline: 20px;
  width: 300px;
  //   height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 1rem;
}

.trail {
  width: 100%;
  height: 7px;
  background-color: #000;
  border-radius: 7px;
  overflow: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.bullet {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.5);
  }
}

.input_range {
  max-width: 40px;
  text-align: center;

  &:focus {
    outline: none;
  }

  &::-webkit-inner-spin-button {
    display: none;
  }

  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid gray;

  &[disabled] {
    border-bottom: none;
  }
}

.input_range_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
